Repository codearky/pytorch_geometric, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rusty1s, @wsad1, @akihironitta, @EdisonLeeeee, @RexYing, @RBendias, @dufourc1, @mananshah99, @pyg-team/intel-team, @JiaxuanYou

Add GNAN model with tests, dataloader and mutagenicity example
  examples/gnan_graph_mutagenicity.py
  test/nn/models/test_gnan.py
  torch_geometric/loader/gnan_dataloader.py
  torch_geometric/nn/models/__init__.py
  torch_geometric/nn/models/gnan.py
Owners: @wsad1, @akihironitta, @rusty1s, @mananshah99, @pyg-team/intel-team, @EdisonLeeeee

add feature groups
  examples/gnan_graph_mutagenicity.py
  torch_geometric/nn/models/gnan.py
Owners: @wsad1, @akihironitta, @rusty1s, @EdisonLeeeee

add another example to grouping features
  examples/gnan_graph_mutagenicity.py
Owners: @wsad1, @akihironitta, @rusty1s

add node importance to gnan model
  examples/gnan_graph_mutagenicity.py
  torch_geometric/nn/models/gnan.py
Owners: @wsad1, @akihironitta, @rusty1s, @EdisonLeeeee

add tests for feature groups and node importance
  test/nn/models/test_gnan.py
Owners: @wsad1, @akihironitta, @rusty1s

chages to make g_retrival pipeline work on gnan
  .cursor/rules/environment.mdc
  examples/gnan_graph_mutagenicity.py
  examples/llm/g_retriever.py
  torch_geometric/datasets/web_qsp_dataset.py
  torch_geometric/nn/models/g_retriever.py
  torch_geometric/nn/models/gnan.py
  torch_geometric/transforms/gnan.py
Owners: @wsad1, @akihironitta, @rusty1s, @EdisonLeeeee

add node import. and play with webqsp dataset pcst parameters
  examples/llm/g_retriever.py
  torch_geometric/datasets/web_qsp_dataset.py
Owners: @wsad1, @akihironitta, @rusty1s

gnn and llm on different devices
  torch_geometric/nn/models/g_retriever.py
Owners: @EdisonLeeeee, @akihironitta

fix gnn/llm on different devices implementation in gret
  torch_geometric/nn/models/g_retriever.py
Owners: @EdisonLeeeee, @akihironitta

fix gnn/llm different device in inference
  torch_geometric/nn/models/g_retriever.py
Owners: @EdisonLeeeee, @akihironitta

Implement skip mode in GNANCollater for efficient batching, allowing bypass of expensive operations during data loading. Added method to control skip mode in GNANDataLoader.
  torch_geometric/loader/gnan_dataloader.py
Owners: @mananshah99, @pyg-team/intel-team

Refactor GNN device assignment and enhance forward method in GRetriever to support both data objects and individual arguments for compatibility with various GNN models.
  torch_geometric/nn/models/g_retriever.py
Owners: @EdisonLeeeee, @akihironitta

.github/CODEOWNERS:

# About code owners
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# Code owners recieve review requests when parts of code they "own" change.

*.py @rusty1s @wsad1 @akihironitta

/torch_geometric/nn/ @EdisonLeeeee @akihironitta

/torch_geometric/explain/ @RexYing @RBendias @dufourc1 @akihironitta

/torch_geometric/data/ @mananshah99 @akihironitta

/torch_geometric/loader/ @mananshah99 @pyg-team/intel-team

/torch_geometric/sampler/ @mananshah99 @pyg-team/intel-team

/torch_geometric/transforms/ @wsad1 @akihironitta @rusty1s
 
/torch_geometric/utils/ @wsad1 @akihironitta @rusty1s

/torch_geometric/datasets/ @wsad1 @akihironitta @rusty1s

/torch_geometric/graphgym/ @JiaxuanYou @wsad1 @akihironitta @rusty1s

/test/ @wsad1 @akihironitta @rusty1s

/docs/ @rusty1s @akihironitta

/graphgym/ @JiaxuanYou

/examples/ @wsad1 @akihironitta @rusty1s

/benchmark/ @pyg-team/intel-team
